.form-text {
    color: red;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
    color: red;
}

.button-container{
  display: flex;
  justify-content: center;
}

.btn{
  padding: .6rem 1.5rem;
}
