.field {
    width: 60%;
    margin: 10px auto;
}

.text-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.room-field {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.text-part {

}

.image-part {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.image-part img {
    width: 90%;
}

.price {
    font-size: 30px;
    font-weight: 900;
}
