<div class="container" style="margin-top: 20px;">
  <app-alert [message]="message" (close)="onHandleAlert()" *ngIf="message"></app-alert>
  <div class="row">
    <div class="col col-lg-9 mx-auto">
      <h1>Book update</h1>
      <form class="book-form" (ngSubmit)="onSubmit()" [formGroup]="bookForm">
        <div class="form-group">
          <img id="bookImg" [src]="imageToDisplay">
        </div>
        <div>
          <div class="form-group">
            <label for="image"><b>Image:</b></label>
            <input type="file" id="image" class="form-control" name="image" (change)="onFileSelect($event)">
            <span class="form-text" *ngIf="!bookForm.get('image').valid && bookForm.get('image').touched">image is invalid or not provided</span>
          </div>

          <div class="form-group">
            <label for="name"><b>Name:</b></label>
            <input type="text" id="name" class="form-control" name="name" formControlName="name">
            <span class="form-text" *ngIf="!bookForm.get('name').valid && bookForm.get('name').touched">name is invalid or not provided</span>
          </div>

          <div class="form-group">
            <label for="description"><b>Description:</b></label>
            <textarea id="description" class="form-control" name="description" formControlName="description"></textarea>
            <span class="form-text" *ngIf="!bookForm.get('description').valid && bookForm.get('description').touched">description is invalid or not provided</span>
          </div>

          <div class="form-group">
            <label for="price"><b>Price:</b></label>
            <input type="text" id="price" class="form-control" name="price" formControlName="price">
            <span class="form-text" *ngIf="!bookForm.get('price').valid && bookForm.get('price').touched">price is invalid or not provided</span>
          </div>

          <div class="form-group">
            <label for="authorId"><b>Author:</b></label>
            <select id="authorId" class="form-control" name="authorId" formControlName="authorId">
              <option *ngFor="let author of authors" [value]="author.id">{{author.name}}</option>
            </select>
            <span class="form-text" *ngIf="!bookForm.get('authorId').valid && bookForm.get('authorId').touched">author is invalid or not provided</span>
          </div>

          <div>
            <button class="btn btn-primary" type="submit" [disabled]="!bookForm.valid">
              Save
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
